---
import '@fontsource/playwrite-us-trad';
import '../css/styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bridgette's Blog</title>
	</head>
	<body>
		<header>
			<h1>Bridgette's Blog</h1>
		</header>

		<main>
			<section>
				<h2>Articles</h2>
				<article></article>
			</section>

			<section>
				<h2>About</h2>
				<p>I've been teaching web design and development for the past nine years. I'm originally self-taught, and that background keeps me curious, I genuinely enjoy continuing to learn new tools and approaches alongside my students. While I can both design and develop, I find myself drawn most to UI design and front-end, CSS-focused development, where visual thinking and clean code meet. I'm a bit of a purist at heart, but I understand the need for efficiency, and everything is a balancing act.</p>

				<h3>Resources & Readings</h3>
				<p>Here are some of my favourite recommendations:</p>
				<ul>
					<li><a href="https://www.youtube.com/kevinpowell">Kevin Powell YouTube</a> ~ A top favourite with all my students.</li>
				</ul>
			</section>
		</main>
	</body>
</html>
