---

---
<style>
    header {
        background-color: #fff;
        padding: 1.875rem 1rem;
    }

    h1{
        a{
            color: #7d7373;
            text-decoration: none;
        }
    }
</style>

<header>
    <div class="inner-container">
        <h1><a href="/">Bridgette's Blog</a></h1>
    </div>
</header>