---
import '@fontsource/playwrite-us-trad';
import '@fontsource-variable/geologica/wght.css';
import '../css/styles.css';
import Header from '../components/Header.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Bridgette's Blog" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body>
		<Header />

		<main class="inner-container flex">
			<slot />
		</main>
	</body>
</html>
